.packages{
	max-height:400px;
	/*max-width: 600px;*/
	overflow-y: scroll;
}

.pip_packages{
	/*float: right;*/
	position: absolute;
	max-height:400px;
	/*max-width: 600px;*/
	overflow-y: scroll;
}

.search{
	position: absolute;
	left: 500px;
}

.search input[type=text]{
	padding: 10px;
	width: 350px;
}

#search_but{
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.server_packages{
	position: absolute;
	right: 500px;
}
#colored{
	background-color: lightgreen;
}

.download{
	position: absolute;
	right: 600px;
	top:730px;
}